div.featurebook-metadata
  div.featurebook-title
    a(href= pathPrefix + 'index.html') #{metadata.title} #{metadata.version}

  if metadata.authors
    div.featurebook-authors
      each author in metadata.authors
        span
          a(href='mailto:' + author.email)= author.firstName + ' ' + author.lastName

  if metadata.contributors
    div.featurebook-contributors
      each contributor in metadata.contributors
        span
          a(href='mailto:' + contributor.email)= contributor.firstName + ' ' + contributor.lastName
