doctype html
html
  head
    title #{metadata.title} #{metadata.version}
    style
      include stylesheet.css

  body
    div.featurebook-container
      include _metadata.jade
      include _spec-tree.jade

      main.featurebook-main
        div.featurebook-markdown !{summary}
