doctype html
html
  head
    title #{metadata.title} #{metadata.version}
    style
      include stylesheet.css

  body
    div.featurebook-container
      include metadata.jade
      include spec-tree.jade
