doctype html
html
  head
    title #{metadata.title} #{metadata.version}
    link(href='stylesheet.css', rel='stylesheet')
    script(src='script.js')

  frameset(cols="20%,80%")
    frame(src='spec-tree.html', name='specTreeFrame', title='Specification tree')
    frame(src='feature.html', name='featureFrame', title='Feature contents', scrolling='yes')
