<div class="featurebook-tag" ng-repeat="tag in feature.tags">{{tag}}</div>
<div class="featurebook-feature-name">Feature: {{feature.name}}</div>
<div class="featurebook-feature-description" ng-bind-html="feature.description"></div>

<div class="featurebook-background" ng-show="{{feature.background}}">
    <div class="featurebook-background-name">Background: {{feature.background.name}}</div>
    <div class="featurebook-background-description"
         ng-if="feature.background.description"
         ng-bind-html="feature.background.description"></div>

    <step class="featurebook-step" ng-model="step" ng-repeat="step in feature.background.steps"></step>
</div>

<div class="featurebook-scenario" ng-repeat="scenario in feature.scenarios">
    <div class="featurebook-tag" ng-repeat="tag in scenario.tags">{{tag}}</div>
    <div class="featurebook-scenario-name">Scenario: {{scenario.name}}</div>
    <div class="featurebook-scenario-description"
         ng-if="scenario.description"
         ng-bind-html="scenario.description"></div>

    <step class="featurebook-step" ng-model="step" ng-repeat="step in scenario.steps"></step>
</div>

<div class="featurebook-scenario" ng-repeat="outline in feature.scenario_outlines">
    <div class="featurebook-tag" ng-repeat="tag in outline.tags">{{tag}}</div>
    <div class="featurebook-scenario-name">Scenario Outline: {{outline.name}}</div>
    <div class="featurebook-scenario-description"
         ng-if="outline.description"
         ng-bind-html="outline.description"></div>

    <step class="featurebook-step" ng-model="step" ng-repeat="step in outline.steps"></step>

    <div class="featurebook-examples">
        <div class="featurebook-examples-name">Examples: {{outline.examples.name}}</div>
        <div class="featurebook-examples-description"
             ng-if="outline.examples.description"
             ng-bind-html="outline.examples.description"></div>

        <gherkin-data-table ng-model="outline.examples.dataTable"></gherkin-data-table>
    </div>
</div>