<div ng-if="!hasError()" class="featurebook-feature">
    <div class="featurebook-tag" ng-repeat="tag in featureResponse.data.tags track by $index">{{tag.name}}</div>
    <div class="featurebook-feature-name">{{featureResponse.data.keyword}}: {{featureResponse.data.name}}</div>
    <div class="featurebook-feature-description featurebook-markdown"
         ng-bind-html="featureResponse.data.description"></div>

    <div class="featurebook-background" ng-show="{{featureResponse.data.background}}">
        <div class="featurebook-background-name">{{featureResponse.data.background.keyword}}:
            {{featureResponse.data.background.name}}
        </div>
        <div class="featurebook-background-description"
             ng-if="featureResponse.data.background.description"
             ng-bind-html="featureResponse.data.background.description"></div>

        <gherkin-step ng-model="step" ng-repeat="step in featureResponse.data.background.steps"></gherkin-step>
    </div>

    <gherkin-scenario ng-model="scenario"
                      ng-repeat="scenario in featureResponse.data.scenarioDefinitions"></gherkin-scenario>
</div>
<div ng-if="hasError()">
    <div class="featurebook-error-message">{{featureResponse.message}}</div>
</div>
