@charset "UTF-8";

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #23232E;
    font: 14px normal Arial, Helvetica, sans-serif;
    color: #7BA1AD;
    margin: 20px;
}

table {
    border-collapse: collapse;
}

.featurebook {
    margin: 0 auto;
    max-width: 1140px;
}

.featurebook-summary {
    margin-bottom: 0.5em;

}

.featurebook-title {
    font-size: xx-large;
    font-weight: bolder;
    color: #ffffff;
}

.featurebook-authors a {
    color: orange;

}

.featurebook-contributors a {
    color: #ffff00;
}

.featurebook-features-tree {
    float: left;
    width: 35%;
    background: #373743;
    overflow-x: auto;
}

.active {
    font-weight: bold;
}

.featurebook-features-tree a {
    color: white;
}

.featurebook-features-tree a:hover {
    color: darkorange;
}

.featurebook-features-tree ul {
    padding-left: 2em;
}

.featurebook-feature {
    float: left;
    width: 63%;
    margin-left: 2%;
    margin-bottom: 2%;
    background: #373743;
    padding: 20px;
}

.featurebook-feature-description {
    padding-left: 40px;
}

.featurebook-feature-description p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.featurebook-feature-description img {
    max-width: 100%;
}

.featurebook-feature-name {
    font-size: x-large;
    color: #ffffff;
}

.featurebook-background-name {
    font-size: large;
    color: #ffffff;
}

.featurebook-scenario-name {
    font-size: large;
    color: #ffffff;
}

.featurebook-background, .featurebook-scenario, .featurebook-scenario-outline {
    padding: 20px 20px 0px 40px;
}

.featurebook-examples {
    padding: 20px 20px 0px 20px;
}

.featurebook-examples tr, .featurebook-step tr {
    border-left: 2px dotted darkorange;
}

.featurebook-examples td, .featurebook-step td {
    border-right: 2px dotted darkorange;
    padding-left: 1em;
    padding-right: 1em;
}

.featurebook-examples th, .featurebook-step th {
    border-right: 2px dotted darkorange;
    color: violet;
}

.featurebook-step {
    padding-left: 20px;
}

.featurebook-keyword {
    color: darkorange;
    font-weight: bolder;
    display: inline-block;
    text-align: right;
    margin-right: 0;
    width: 15%;
    vertical-align: top;
}

.featurebook-tag {
    display: inline-block;
    margin-right: 0.5em;
    color: #ffff00;
}

.featurebook-step-name {
    display: inline-block;
    width: 84%;
    padding-left: 0.5em;
}

.featurebook-var {
    color: blueviolet;
    font-weight: bolder;
}

h1, h2, h3 {
    color: #FFFFFF;
}